In [ ]:
# 27th DEC : DIFFERENT COMPREHENSION IN PYTHON

## Syntax of List Comprehension

newList = [ expression for item in iterable if condition ]

***Provide a concise way to create lists.

## COMMON WAY

In [8]:
l = [1,12,15,15,8,9,10,15,7,20]
ev_num = []
od_num = []

for i in l :
    if i%2==0:
        ev_num.append(i)
    else:
        od_num.append(i)

In [9]:
ev_num

[12, 8, 10, 20]

In [10]:
od_num

[1, 15, 15, 9, 15, 7]

## USING LIST COMPREHENSION

In [12]:
even_l = [ i for i in l if i % 2 == 0]
even_l

[12, 8, 10, 20]

In [13]:
odd_l = [ i for i in l if i % 2 != 0]
odd_l

[1, 15, 15, 9, 15, 7]

In [14]:
#Another Example of squaring the no. of even no. only 

sq_l = [ i*1 for i in range(0,10) if i%2==0 ]
sq_l

[0, 2, 4, 6, 8]

# NESTED LIST COMPREHENSION

In [21]:
#Another Example of multipling no from two given list 

lst1 = [2,5,12]
lst2 = [4,7]

mul_lst = [i*j for i in lst1 for j in lst2 ]
mul_lst

[8, 14, 20, 35, 48, 84]

In [22]:
#Common Way
s=[]
for i in lst1:
    for j in lst2:
        s.append(i*j)
s

[8, 14, 20, 35, 48, 84]

In [33]:
#Another Example of getting multiple probable elements
# from two given list 

lst1 = [2,6,1]
lst2 = [4,7,3,17]

ele_lst = [[i,j] for i in lst1 for j in lst2 ]
ele_lst

[[2, 4],
 [2, 7],
 [2, 3],
 [2, 17],
 [6, 4],
 [6, 7],
 [6, 3],
 [6, 17],
 [1, 4],
 [1, 7],
 [1, 3],
 [1, 17]]

In [34]:
s=[]
for i in lst1:
    for j in lst2:
        s.append([i,j])
s

[[2, 4],
 [2, 7],
 [2, 3],
 [2, 17],
 [6, 4],
 [6, 7],
 [6, 3],
 [6, 17],
 [1, 4],
 [1, 7],
 [1, 3],
 [1, 17]]

# Syntax of Dict Comprehension

Syntax: {key,value for (key,value) in iterable if condition }

In [35]:
#Example 1 : No. with their square in dict

#Common Way

d = {}
for i in range(0,10):
    d[i]=i*i
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [37]:
#Using Dict Comprehension

d1 = {i:i*i for i in range(0,10) }
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [39]:
#Example 2 : Combine two lists into a dictionary


dict1= {}
l1 = [ x for x in range(3)]
l2 = ['Mon','Tue','Wed']

for key,value in zip(l1,l2):
    dict1[key]=value
dict1

{0: 'Mon', 1: 'Tue', 2: 'Wed'}

In [42]:
dict2 = {key:val for (key,val) in zip(l1,l2)}
dict2

{0: 'Mon', 1: 'Tue', 2: 'Wed'}

# Syntax of Set Comprehension

Syntax: {expression for item in iterable if condition }

In [43]:
#Example :

s1 = {i for i in range(1,10) if i%2==1}
s1

{1, 3, 5, 7, 9}

In [44]:
#Example Duplicate Filtering
    
s = [1,2,3,4,2,3,2,3,4,1,5]
s2= set()

for i in s:
    if i%2!=0:
        s2.add(i)
s2

{1, 3, 5}

In [45]:
s3 = {i for i in s if i%2!=0}
s3

{1, 3, 5}

# GENERATOR COMPREHENSION

 SYNTAX: (expression for item in iterable if condition)

In [1]:
#Example : Common Way

def generator(l):
    for i in list:
        if i%2==0:
            yield i

In [2]:
list=[1,2,3,4,6,7,1,33,5]
gen_val= generator(list)

In [3]:
gen_val

In [4]:
print(next(gen_val))
print(next(gen_val))
print(next(gen_val))
print(next(gen_val))
print(next(gen_val))

2
4
6

StopIteration:

In [6]:
#Genarator Comprehension:

gen_values = (i for i in list if i%2==0)
print(gen_values)

<generator object <genexpr> at 0x000001C801E0BD60>

In [8]:
print(next(gen_values))
print(next(gen_values))
print(next(gen_values))
print(next(gen_values))

2
4
6

StopIteration:

# Some Questions related to Comprehesnion Below

In [10]:
a    = [ 1,3,5,7,9,11 ]
#O/P = [ 2,6,10,14,18,22 ]

In [11]:
op= [ 2*i for i in a ]
op

[2, 6, 10, 14, 18, 22]

In [12]:
#Remove all odd no from list
numbers = [3,5,45,97,32,22,10,19,39,43]

In [13]:
rem_odd = [ i for i in numbers if i%2!=1 ]
rem_odd

[32, 22, 10]

In [14]:
# Find all of the numbers from 1-1000 that are divisible by 7

In [17]:
div_7 = [ i for i in range(0,100) if i%7==0]
div_7

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [16]:
#Find all of the numbers from 1-1000 that have a 3 in them

In [18]:
list_3 = [ i for i in range(1,100) if '3' in str(i)]
list_3

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [24]:
# Count the number of spaces in a string
stri = "Hello Im writing a python code"
list_4 = [ i for i in stri if i==' ']
list_4

[' ', ' ', ' ', ' ', ' ']

In [26]:
print(len(list_4))

5

In [25]:
#Common Way
cnt=0
for i in stri :
    if i==' ':
        cnt+=1
cnt

5

In [27]:
# Create a list of all the consonants in the string

In [28]:
some_str= '''Yellow Yaks like yelling and yawning and yesturday
they yodled while eating yuky yams'''

In [31]:
cons_str = [ i for i in some_str if i not in ('a','e','i','o','u',' ')]
cons_str

['Y',
 'l',
 'l',
 'w',
 'Y',
 'k',
 's',
 'l',
 'k',
 'y',
 'l',
 'l',
 'n',
 'g',
 'n',
 'd',
 'y',
 'w',
 'n',
 'n',
 'g',
 'n',
 'd',
 'y',
 's',
 't',
 'r',
 'd',
 'y',
 '\n',
 't',
 'h',
 'y',
 'y',
 'd',
 'l',
 'd',
 'w',
 'h',
 'l',
 't',
 'n',
 'g',
 'y',
 'k',
 'y',
 'y',
 'm',
 's']

In [ ]:
#Get the index and the value as a tuple for items
#in the list ['hi', 4, 8.99, 'apple', ('t','b','n')]

In [34]:
list= ['hi', 4, 8.99, 'apple', ('t','b','n')]

In [36]:
for i in range(len(list)):
    print(i,(list[i]))

0 hi
1 4
2 8.99
3 apple
4 ('t', 'b', 'n')

In [39]:
i_list = [(i,j) for i,j in enumerate(list)]
i_list

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t', 'b', 'n'))]

In [42]:
#Find the common numbers in two lists
#(without using a tuple or set)

In [43]:
list_a = 1, 2, 3, 4
list_b = 2, 3, 4, 5

In [44]:
comm_l = [ i for i in list_a if i in list_b]
comm_l

[2, 3, 4]

In [45]:
#Get only the numbers in a sentence like
#‘In 1984 there were 13 instances of a
#protest with over 1000 people attending’

In [46]:
sentence= 'In 1984 there were 13 instances of a protest with over 1000 people attending'

In [62]:
s=sentence.split()
s_int = [ i for i in s if i.isnumeric()]
s_int

['1984', '13', '1000']

In [63]:
#Given numbers = range(20),
#produce a list containing the word ‘even’
#if a number in the numbers is even,
#and the word ‘odd’ if the number is odd.
#Result would look like ‘odd’,’odd’, ‘even’

In [72]:
i_list = ['odd' if i%2!=0 else 'even' for i in range(20)]
i_list

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

10. Produce a list of tuples consisting of only the matching numbers in these lists.
list_a = [1,2,3,4,5,6,7,8,9]

list_b = [2,7,1,12]

Result would look like (4,4), (12,12)

In [73]:
list_a = [1,2,3,4,5,6,7,8,9]
list_b = [2,7,1,12]

In [78]:
lout = [(i,i) for i in list_a if i in list_b]
lout

[(1, 1), (2, 2), (7, 7)]

In [80]:
res = [(a,b) for a in list_a for b in list_b if a==b]
res

[(1, 1), (2, 2), (7, 7)]

Find all of the words in a string that are less than 4 letters

In [81]:
sentence = 'On a summer day somner smith went simming in the sun and his red skin stung'

In [83]:
all_word = [ i for i in sentence.split() if len(i)<4]
all_word

['On', 'a', 'day', 'in', 'the', 'sun', 'and', 'his', 'red']

Use a nested list comprehension to find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9)

In [94]:
x_div = [i for i in range(0,25) 
         if True in [True for x in range(2,10) if i%x==0] 
        ]
x_div

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24]

In [102]:
#Using For Loop
no_dups =set()

for n in range(1,25):
    for x in range(2,10):
        if n%x==0:
            no_dups.add(n)
print(no_dups)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24}

# Nested List Comprehension

In [103]:
nested = [[1,2,3], ['a','b','def'], [5, 10,'f',17], [3,9] ]

In [106]:
fl= [j for i in nested for j in i]
fl

[1, 2, 3, 'a', 'b', 'def', 5, 10, 'f', 17, 3, 9]

In [109]:
#Using Nested List Comprehension using if cond
flatten3= [j for i in nested for j in i if len(i)>2]
flatten3

[1, 2, 3, 'a', 'b', 'def', 5, 10, 'f', 17]

In [110]:
#Get Square of no if it is even
Numbers = [[1,2,3,4,5,6,7,8,9,10],
          [11,12,13,14,15,16,17,18,19,20]]

In [111]:
sq_lst = [ j**2 for i in Numbers for j in i if j%2==0 ]
sq_lst

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [112]:
#Nested list with if condition

In [113]:
fil_lst = [ i for i in range(0,20) if i%2==0 if i%5==0]
fil_lst

[0, 10]

In [114]:
#If else with Nested list Comprehension

In [115]:
list = ['even' if i%2==0 else 'odd' for i in range(10)]

In [116]:
list

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']