## 1. Python Program to Find Largest Number in a List

In [1]:
l=[4,2,1,88,42,1,313,3]

In [15]:
#Basic Approach
def lar_no(l):
    largest_val=l[0]
    n=len(l)
    for i in range(n):
        if l[i] > largest_val:
            largest_val = l[i]
    return largest_val

In [16]:
print("largest no in list : ", lar_no(l) )

largest no in list :  313

In [6]:
#The max() Function â€” Find the Largest Element of a List
max_no = max(l)
print(max_no)

313

In [8]:
#Reduce() with the built-in max() Function
from functools import reduce
x=reduce(max,l)
print("largest no in list : ", x )

largest no in list :  313

In [9]:
#Reduce() with the built-in max() Function
from functools import reduce
s=reduce(lambda x,y : y if x<y else x ,l)
print("largest no in list : ", s )

largest no in list :  313

In [14]:
# sorting the list
l.sort()
 
# printing the last element
print("Largest element is:", l[-1])

Largest element is: 313

## -----------------------------------------------------------

## 2. Python Program to Find Second Largest Number in a List

In [29]:
l=[4,2,1,88,42,1,313,3]

In [28]:
l.sort()
l[-2]

88

In [30]:
l=[5,2,1,1,1]
first_lar=min(l)
second_lar=0

for i in l:
    if i>first_lar:
        second_lar = first_lar
        first_lar =i
    else:
        second_lar = max(second_lar,i)
        
print(f"firt largest: ",first_lar)
print(f"second largest: ",second_lar)

firt largest:  5
second largest:  2

In [31]:
list = [10, 20, 4, 45, 99]
#list=[5,2,1,1,1]
mx= max(list[0],list[1])
secondmx= min(list[0],list[1])

n = len(list)
for i in range(2,n):
    if list[i] > mx:
        secondmx= mx
        mx= list[i]
    elif list[i] > secondmx and mx!=list[i]:
        secondmx=list[i]
    elif mx==secondmx and secondmx!=list[i]:
        secondmx=list[i]

mx,secondmx

(99, 45)

In [32]:
#removing the maximum element  
list_val = [20, 30, 40, 25, 10] 

r_lst = set (list_val)
r_lst.remove(max(r_lst))
max(r_lst)

30

## Python Program to Print Largest Even and Largest Odd Number in a List

In [33]:
l= [1,3,4,5,77,11,88,13,78,5]

ev=[]
od=[]
n=len(l)
for i in range(n):
    if l[i]%2==0:
        ev.append(l[i])
    else:
        od.append(l[i])

In [34]:
print(ev)
print(od)

[4, 88, 78]
[1, 3, 5, 77, 11, 13, 5]

In [35]:
def findlargest(y):
    mx=y[0]
    n1=len(y)
    for i in range(n1):
        if y[i]>mx:
            mx=y[i]
    return mx

In [36]:
print(findlargest(ev))
print(findlargest(od))

88
77

In [42]:
def printmax(lis):
   
    # Using list comprehension storing
    # even and odd numbers as separate lists
    evenl = [x for x in lis if x % 2 == 0]
    oddl = [x for x in lis if x % 2 == 1]
 
    # printing max numbers in corresponding lists
    print("Largest odd number is ", max(oddl))
    print("Largest even number is ", max(evenl))
    
    print('even list : ',evenl)
    print('odd list : ',oddl)
 
 
# Input a list of numbers
lis = [123, 234, 236, 694, 809]
 
printmax(lis)

Largest odd number is  809
Largest even number is  694
even list :  [234, 236, 694]
odd list :  [123, 809]

In [4]:
def largestevenodd(l):
    
    curr_e = -1
    curr_o = -1
    
    
    for i in l:
        if (i%2==0 and i>curr_e):
            curr_e = i
        elif (i%2!=0 and i>curr_o):
            curr_o = i
        
    #return curr_e,curr_o
    print("Largest odd number is ", curr_o)
    print("Largest even number is ", curr_e)

In [5]:
l = [123, 234, 236, 694, 809]
largestevenodd(l)

Largest odd number is  809
Largest even number is  694

## Python Program to Split Even and Odd Elements into Two Lists

In [6]:
l = [23,4,5,6,1,22,57,12,5,7]

In [7]:
def splitevenodd(l):
    
    ev = [i for i in l if i%2==0]
    od = [i for i in l if i%2!=0]
    
    print("Even List: ",ev)
    print("Odd List: ",od)

In [8]:
splitevenodd(l)

Even List:  [4, 6, 22, 12]
Odd List:  [23, 5, 1, 57, 5, 7]

In [10]:
def spevod(l):
    ev_lst = list( filter(lambda x: x%2==0,l) )
    od_lst = list( filter(lambda x: x%2!=0,l) )
    
    print("Even numbers:", ev_lst)
    print("Odd numbers:", od_lst)

In [11]:
spevod(l)

Even numbers: [4, 6, 22, 12]
Odd numbers: [23, 5, 1, 57, 5, 7]

In [12]:
def split_lists(nums):
    even_list = []
    odd_list = []
    for num in nums:
        if num % 2 == 0:
            even_list.append(num)
        else:
            odd_list.append(num)
    return even_list, odd_list

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list, odd_list = split_lists(nums)
print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

## Python Program to Find Average of a List

In [8]:
#nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def avg_lst(l):
    sum,cnt=0,0
    n=len(l)
    for i in range(n):
        sum+= l[i]
        cnt+= 1
    avg = sum/cnt
    return sum,cnt,avg

In [12]:
nums = [1,2,3,4,5]
sum,cnt,avg= avg_lst(nums)
print("Average: ",avg, " Sum: ",sum," Count: ", cnt)

Average:  3.0  Sum:  15  Count:  5

In [4]:

def find_average(my_list):
    return sum(my_list) / len(my_list)

# Test cases
my_list1 = [1, 2, 3, 4, 5]
average1 = find_average(my_list1)
print(average1) # 3.0

my_list2 = [1, 2, 3, 4, 5,6,7,8,9,10]
average2 = find_average(my_list2)
print(average2) # 5.5

my_list3 = [1, 2, 3, 4, 5,6,7,8,9,10,100,200,300]
average3 = find_average(my_list3)
print(average3) # 35.0

3.0
5.5
50.38461538461539

In [11]:
import statistics

def find_average(my_list):
    return statistics.mean(my_list)

# Test cases
my_list1 = [1, 2, 3, 4, 5]
average1 = find_average(my_list1)
print(average1) # 3.0

my_list2 = [1, 2, 3, 4, 5,6,7,8,9,10]
average2 = find_average(my_list2)
print(average2) # 5.5

my_list3 = [1, 2, 3, 4, 5,6,7,8,9,10,100,200,300]
average3 = find_average(my_list3)
print(average3) # 35.0

3
5.5
50.38461538461539

In [13]:
#Using Reduce function
from functools import reduce
l = [1, 2, 3, 4, 5,6,7,8,9,10]  # 5.5

lst_avg = reduce ( lambda a,b: a+b , l) / len(l)
lst_avg

5.5

## Python Program to Print Sum of Negative Numbers, Positive Even Numbers and Positive Odd numbers in a List

In [20]:

def find_sum_check(lst):
    sum_neg=0
    sum_even=0
    sum_odd =0
    
    for i in lst:
        if i<0:
            sum_neg += i
        elif i%2==0:
            sum_even += i
        elif i%2!=0:
            sum_odd += i

    return (sum_neg,sum_even,sum_odd)

In [21]:
# Test cases
my_list1 = [-2,-4,0,12,-81, 2, 3, 5]
a,b,c = find_sum_check(my_list1)
print("Negative Sum: ",a, " Even Sum: ",b," Odd Sum: ", c)

Negative Sum:  -87  Even Sum:  14  Odd Sum:  8

In [30]:
#Using Filter 

lst = [1, -1, 50, -2, 0, -3]
neg_num = list( filter(lambda x:x<0, lst) )
even_num = list( filter(lambda x:( x>0 and x%2==0 ), lst) )
odd_num = list( filter(lambda x: ( x>0 and x%2!=0 ) , lst) )

In [31]:
print("even positive numbers sum",sum(even_num))
print("odd positive numbers sum",sum(odd_num))
print("negative numbers sum",sum(neg_num))

even positive numbers sum 50
odd positive numbers sum 1
negative numbers sum -6

In [34]:
#Using List comprehension

my_list = [-1,-5, 6,9, -10, 11, 13]
negative_sum = sum([x for x in my_list if x<0])
even_sum = sum([x for x in my_list if x>0 and x%2==0])
odd_sum = sum([x for x in my_list if x> 0 and x%2!=0])

print("Sum of negative numbers: ", negative_sum)
print("Sum of even numbers: ", even_sum)
print("Sum of odd numbers: ", odd_sum)

Sum of negative numbers:  -16
Sum of even numbers:  6
Sum of odd numbers:  33

## Python Program to Count Occurrences of Element in List

In [ ]:
lst = [1,3,4,5,3,3,5,6,1]

In [42]:
#Using For Loop

def occur_ele(n,l):
    y=len(l)
    cnt=0
    
    for i in range(y):
        if l[i] == n:
            cnt+=1
    print(n," appears ", cnt , "times " )

In [45]:
#lst = [1,3,4,5,3,3,5,6,1]
#n=7
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
n=8

In [46]:
occur_ele(n,lst)

8  appears  5 times

In [47]:
#Count occurrences of an element in a list Using count()
def countX(n,l):
    return l.count(n)

In [48]:
countX(n,lst)

5

In [50]:
#Using List comprehension
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
n=8
x= [i for i in lst if i==n]
print(n,"appears ", len(x) ," times")

8 appears  5  times

In [58]:
#Using pandas library
import pandas as pd
n=8
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]

In [69]:
count= pd.Series(lst).value_counts()
print(n,"appears ",count[8] ," times")


print(count.get(8))

8 appears  5  times
5

In [71]:
# Using loops and dict in python

sample_list = ["a", "ab", "a", "abc", "ab", "ab"]

def countOccurrence(a):
    d={}
    
    for i in a:
        if i in d:
            d[i] +=1
        else:
            d[i] = 1
    return d

In [74]:
s=countOccurrence(sample_list)
print(s)

{'a': 2, 'ab': 3, 'abc': 1}

In [75]:
print(s.get('a'))

2

In [78]:
#Using dictionary comprehension

lis = ['a', 'd', 'd', 'c', 'a', 'b', 'b', 'a', 'c', 'd', 'e']
occurrence = {item: lis.count(item) for item in lis}
print(occurrence.get('e'))
print(occurrence)

1
{'a': 3, 'd': 3, 'c': 2, 'b': 2, 'e': 1}

## Python Program to Find the Sum of Elements in a List using Recursion

In [79]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
def rec_sum(l):
    
    if len(l)==0:
        return 0
    else:
        return l[0] + rec_sum (l[1:])

In [80]:
rec_sum(lst)

86

In [81]:
#Normal for loop
total=0
for i in lst:
    total +=i
print(total)

86

In [5]:
#Normal while loop

lst=[1,2,4,6,8]
total=0
i=0

while i<len(lst):
    total +=lst[i]
    i +=1
print(total)

21

In [18]:
#Using reduce

from functools import reduce
x =  reduce(lambda a,b: a+b,lst)
x

21

In [25]:
#Using Enemearate
numbers = [4, 8, 15, 16, 23, 42]
total = 0
for _, number in enumerate(numbers):
    total += number
print(total)

108

In [3]:
#List Comprehension
numbers = [4, 8, 15, 16, 23, 42]
print("sum of ele in list : ",sum([i for i in numbers]))

sum of ele in list :  108

## Python Program to Find the Length of a List using Recursion

In [2]:
lst = [1,2,5,7,11,8]

In [3]:
#Using Recursion

def rec_len(l):
    if not l:
        return 0
    else:
        return ( 1 + rec_len(l[1:]) )

In [4]:
rec_len(lst)

6

In [29]:
#Using For Loop

def len_list(l):
    cnt=0
    for i in lst:
        cnt +=1
    print("Length of given list: ", cnt)

In [30]:
len_list(lst)

Length of given list:  6

In [31]:
#Using sum function
print(sum([1 for i in lst]))

6

## Python Program to Merge Two Lists and Sort it

In [7]:
lst1 = [5,2,3,4]
lst2 = [6,99,111,222]

def merge_list(l1,l2):
    lf = []
    for i in l1:
        lf.append(i)
    
    for j in l2:
        lf.append(j)
        
    s=lf[0]
    n=len(lf)
    for l in range(n):
        for k in range(l+1,n):
            if lf[l]>lf[k]:
                lf[l],lf[k] = lf[k],lf[l]
    print(lf)

In [8]:
merge_list(lst1,lst2)

[2, 3, 4, 5, 6, 99, 111, 222]

In [3]:
#Visulizing list

l1= [1,3,5,7,11]
l2= [2,4,6,8]


l1.extend(l2)
print(l1)
n=len(l1)
print(n)



for i in range(n):
    for j in range(i+1,n):
        if l1[i]<l1[j]:
            l1[i],l1[j]=l1[j],l1[i]
            print(l1,'i= ',i,'j= ',j)

[1, 3, 5, 7, 11, 2, 4, 6, 8]
9
[3, 1, 5, 7, 11, 2, 4, 6, 8] i=  0 j=  1
[5, 1, 3, 7, 11, 2, 4, 6, 8] i=  0 j=  2
[7, 1, 3, 5, 11, 2, 4, 6, 8] i=  0 j=  3
[11, 1, 3, 5, 7, 2, 4, 6, 8] i=  0 j=  4
[11, 3, 1, 5, 7, 2, 4, 6, 8] i=  1 j=  2
[11, 5, 1, 3, 7, 2, 4, 6, 8] i=  1 j=  3
[11, 7, 1, 3, 5, 2, 4, 6, 8] i=  1 j=  4
[11, 8, 1, 3, 5, 2, 4, 6, 7] i=  1 j=  8
[11, 8, 3, 1, 5, 2, 4, 6, 7] i=  2 j=  3
[11, 8, 5, 1, 3, 2, 4, 6, 7] i=  2 j=  4
[11, 8, 6, 1, 3, 2, 4, 5, 7] i=  2 j=  7
[11, 8, 7, 1, 3, 2, 4, 5, 6] i=  2 j=  8
[11, 8, 7, 3, 1, 2, 4, 5, 6] i=  3 j=  4
[11, 8, 7, 4, 1, 2, 3, 5, 6] i=  3 j=  6
[11, 8, 7, 5, 1, 2, 3, 4, 6] i=  3 j=  7
[11, 8, 7, 6, 1, 2, 3, 4, 5] i=  3 j=  8
[11, 8, 7, 6, 2, 1, 3, 4, 5] i=  4 j=  5
[11, 8, 7, 6, 3, 1, 2, 4, 5] i=  4 j=  6
[11, 8, 7, 6, 4, 1, 2, 3, 5] i=  4 j=  7
[11, 8, 7, 6, 5, 1, 2, 3, 4] i=  4 j=  8
[11, 8, 7, 6, 5, 2, 1, 3, 4] i=  5 j=  6
[11, 8, 7, 6, 5, 3, 1, 2, 4] i=  5 j=  7
[11, 8, 7, 6, 5, 4, 1, 2, 3] i=  5 j=  8
[11, 8, 7, 6, 5, 4, 2, 1, 3] i=  6 j=  7
[11, 8, 7, 6, 5, 4, 3, 1, 2] i=  6 j=  8
[11, 8, 7, 6, 5, 4, 3, 2, 1] i=  7 j=  8

In [16]:
lst1 = [5,2,3,4]
lst2 = [6,99,111,222]

In [17]:
#Using Extend
lst1.extend(lst2)
print(lst1)

[5, 2, 3, 4, 6, 99, 111, 222]

In [18]:
#Using the sorted() function
list1= [5,-9,1,4]
list2= [11,5,6,13,2]

print(sorted(list1+list2))

[-9, 1, 2, 4, 5, 5, 6, 11, 13]

## Python Program to Remove Duplicates from a List

In [5]:
lst = [1,3,3,4,3,1,4,1,7,8]

#Using set conversion

set1 = set()
lstf = []
for i in lst:
    set1.add(i)
for i in set1:
    lstf.append(i)
lstf

[1, 3, 4, 7, 8]

In [14]:
#In Just One line: Same as upper using set-list conversion
print(list(set(lst)))

[1, 3, 4, 7, 8]

In [12]:
#using not in on list i.e temp list

def remove_dup(l):
    
    newlst=[]
    for i in l:
        if i not in newlst:
            newlst.append(i)
    return (newlst)

In [13]:
lst = [1,3,3,4,3,1,4,1,7,8]
remove_dup(lst)

[1, 3, 4, 7, 8]

In [15]:
#The dict.fromkeys() methods return keys that are unique and helps to get rid of the duplicate values
my_list = ['a','x','a','y','a','b','b','c']
my_final_list = dict.fromkeys(my_list)
print(list(my_final_list))

['a', 'x', 'y', 'b', 'c']

In [2]:
lst = [1,3,3,4,3,1,4,1,7,8]

#Using set comprehension

s = {i for i in lst}
#print(s)
l = [i for i in s]
print(l)

[1, 3, 4, 7, 8]

## Python Program to Swap the First and Last Element in a List

In [3]:
#1st Approach

ls = [1,5,'a',[1,4],3]
ls[0],ls[-1] = ls[-1],ls[0]
ls

[3, 5, 'a', [1, 4], 1]

In [6]:
#2nd Approach
ls = [1,5,'a',[1,4],3]
frst = ls.pop(0)
last = ls.pop(-1)

ls.insert(0,last)
ls.append(frst)

ls

[3, 5, 'a', [1, 4], 1]

## Python Program to Sort a List According to the Second Element in Sublist

In [31]:
lst = [(700, 6), (900, 3), (400, 12), (800, 9)]

In [13]:
#Using Sort function

lst.sort(key = lambda x: x[1])
print(lst)

[(900, 3), (700, 6), (800, 9), (400, 12)]

In [16]:
# Tuple
lst = [(1200, 6), (100, 3), (50, 12), (300, 9)]
print("Orignal List: ", lst)
# Function to sort 
def Sort(lst): 
    # reverse = None (Sorts in Ascending order) 
    return(sorted(lst, key = lambda a: a[1]))  
 
# sorted list of tuples
print("Sorted List: ", Sort(lst))

Orignal List:  [(1200, 6), (100, 3), (50, 12), (300, 9)]
Sorted List:  [(100, 3), (1200, 6), (300, 9), (50, 12)]

In [32]:
lst

[(700, 6), (900, 3), (400, 12), (800, 9)]

In [26]:
#Using Loop
for i in range(0,len(lst)):
    for j in range(0,len(lst)-i-1):
        if lst[j][1] > lst[j+1][1]:
            temp= lst[j]
            lst[j] = lst[j+1]
            lst[j+1]= temp

In [27]:
print("Sorted List : ", str(lst))

Sorted List :  [(900, 3), (700, 6), (800, 9), (400, 12)]

In [28]:
#Using Sorted function
def Sort(sub_li):
    return(sorted(sub_li, key = lambda x: x[1]))

In [33]:
print(Sort(lst))

[(900, 3), (700, 6), (800, 9), (400, 12)]

## Python Program to Return the Length of the Longest Word from the List of Words

In [37]:
a = ['one', 'two', 'three', 'four']

In [21]:
# Using Loop iterating :

maxl = len(a[0])
for i in a:
    if maxl < len(i):
        maxl = len(i)
        print("Element: ", i," & Length :",maxl)

Element:  three  & Length : 5

In [35]:
# Using Sort
word_len= []
def sort_maxword(l):
    for i in l:
        word_len.append((len(i),i))
    word_len.sort(key= lambda x:x[0], reverse=True)
    return word_len[0][0],word_len[0][-1]

In [44]:
sort_maxword(a)

(5, 'three')

In [50]:
word_len= []
def sort_maxword(l):
    for i in l:
        word_len.append((len(i),i))
    word_len.sort()
    return word_len[-1][0],word_len[-1][1]

In [43]:
sort_maxword(a)

(5, 'three')

In [51]:
my_list = ["ab", "abc", "abcd", "abcde"]
sort_maxword(my_list)

(5, 'abcde')

## Python Program to Find the Number Occurring Odd Number of Times in a List

In [108]:
#Using Dictionary
b = [1,3,1,3,5,5,7,7,7,1,89]

def occ(s):
    d={}
    for i in s:
        if i in d:
            d[i]+= 1
        else:
            d[i] = 1
    
    for j in d.keys():
        if d[j]%2==1:
            print(j,end=' ')

In [109]:
occ(b)

1 7 89

In [119]:
# Find the single number
# which occurs odd numbers and other numbers occur even number

def odd_occurrence(arr):
    result = 0

    for element in arr:
        # XOR
        result = result ^ element
    return result
 
# Test data
num1 = [ 4, 5, 4, 5, 2, 2, 3, 3, 2, 4, 4 ]
 
print(odd_occurrence(num1))

2

## Python Program to Generate Random Numbers from 1 to 20 and Append Them to the List

In [135]:
import random
a=[]
for i in range(1,20):
    a.append(random.randint(1,10))
print(a)

[10, 2, 10, 1, 4, 7, 2, 10, 1, 8, 5, 10, 7, 5, 4, 6, 8, 1, 2]

In [137]:
import random
#Generate 5 random numbers between 1 and 20
randomlist = random.sample(range(1, 20), 5)
print(randomlist)

[15, 18, 6, 10, 2]

## Python Program to Remove the ith Occurrence of the Given Word in a List

In [194]:
# Function to remove Ith word: 1st Method 

def RemoveIthWord(list, word, N):
    count = 0
     
    for i in range(0, len(list)):
        if (list[i] == word):
            count = count + 1
             
            if(count == N):
                del(list[i])
                return True
                 
    return False

In [203]:
# Driver code
list = ['geeks', 'for', 'geeks']
word = 'geeks'
N = 1
 
flag = RemoveIthWord(list, word, N)
 
if (flag == True):
    print("Updated list is: ", list)
else:
    print("Item not Updated: ",list)

Updated list is:  ['for', 'geeks']

In [207]:
#2nd Method:

def rem_word(lst,word,N):
    cnt=0
    newlist= []
    for i in lst:
        if (i==word):
            cnt+=1
            if (cnt!=N):
                newlist.append(i)
        else:
            newlist.append(i)
    #lst=newlist
    
    if cnt==0:
        print("Not found")
    else:
        print("updated list: ", newlist)
        
    return newlist

In [214]:
list = ["geeks", "for", "geeks"]
word = "ok"
N = 5
 
rem_word(list, word, N)

Not found

['geeks', 'for', 'geeks']

In [215]:
#3rd Method:

def pop_word(lst,word,N):
    cnt=0
    index=0
    
    for i in lst:
        index+=1
        if (i==word):
            cnt+=1
            
            if(cnt==N):
                lst.pop(index-1)
    return lst

In [218]:
# Driver code
list1 = ["he","is","ankit","is","raj","is","ankit raj"]
word="is"
n1=1
 
print("new list is :",pop_word(list1,word,n1))

new list is : ['he', 'ankit', 'is', 'raj', 'is', 'ankit raj']

## Python Program to Find the Cumulative Sum of a List

In [228]:
def cumm_sum(l):
    a=[]
    sum=0
    for i in l:
        sum+=i
        a.append(sum)
    return a

In [229]:
cumm_sum(x)

[10, 25, 45, 70, 100]

In [230]:
cumm_sum([4, 10, 15, 18, 20])

[4, 14, 29, 47, 67]

In [3]:
def nums_cumulative_sum(nums_list):
    return [sum(nums_list[:i+1]) for i in range(len(nums_list))]

print(nums_cumulative_sum([10, 20, 30, 40, 50, 60, 7]))
print(nums_cumulative_sum([1, 2, 3, 4, 5]))
print(nums_cumulative_sum([0, 1, 2, 3, 4, 5]))

[10, 30, 60, 100, 150, 210, 217]
[1, 3, 6, 10, 15]
[0, 1, 3, 6, 10, 15]

## Python Program to Find the Union of Two Lists

In [8]:
list1=[1,2,3,4,5,6]
list2=[2,4,6,8,10,12]

In [16]:
#Using extend function

def find_union(list1,list2):
    newlst=[]
    newlst.extend(list1)
    for i in list2:
        if i not in list1:
            newlst.append(i)
    print(newlst)

In [17]:
find_union(list1,list2)

[1, 2, 3, 4, 5, 6, 8, 10, 12]

In [18]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
find_union(lst1,lst2)

[23, 15, 2, 14, 14, 16, 20, 52, 48, 12, 26, 32, 47, 54]

In [15]:
#Using Set()

set1 = set(list1)
set2 = set(list2)
newList = list(set1.union(set2))
print("Union of the lists is:", newList)

Union of the lists is: [1, 2, 3, 4, 5, 6, 8, 10, 12]

In [21]:
# Union of three lists
def Union(lst1, lst2, lst3):
    final_list = list(set().union(lst1, lst2, lst3))
    return final_list
 
# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
lst3 = [4, 78, 5, 6, 9, 25, 64, 32, 59]
print(Union(lst1, lst2, lst3))

[2, 4, 5, 6, 9, 12, 14, 15, 16, 20, 23, 25, 26, 32, 47, 48, 52, 54, 59, 64, 78]

In [19]:
# Maintained repetition and order
def Union(lst1, lst2):
    final_list = sorted(lst1 + lst2)
    return final_list
 
# Driver Code
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]
print(Union(lst1, lst2))

[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 26, 32, 47, 48, 52, 54]

## Python Program to Find the Intersection of Two Lists

In [1]:
lst1 = [23, 15, 2, 14, 14, 16, 20 ,52]
lst2 = [2, 48, 15, 12, 26, 32, 47, 54]

In [3]:
l= [i for i in lst1 for j in lst2 if i==j]
l

[15, 2]

In [4]:
def intersection_list(list1, list2):  
    list3 = [i for i in list1 if i in list2]  
    return list3

In [5]:
intersection_list(lst1, lst2)

[15, 2]

In [8]:
#Using Set()

set1 = set(lst1)
set2 = set(lst2)
newList = list(set1.intersection(set2))
print("Intersection of the lists is:", newList)

Intersection of the lists is: [2, 15]

## Python Program to Flatten a List without using Recursion

In [29]:
#Using Deep Flatten

from iteration_utilities import deepflatten

li = [ [100,150], [ [200 ] ], [ 300, 400 ] ]
print("list li before flattening", li)
flat_li = list(deepflatten(li))
print("list li after flattening", flat_li)
print("\n")




deep_li = [[0,1], [[2, [3, [4, [5, [6 ]]]]]], [7,8]]
print("list deep_li before flattening", deep_li)
flat_li = list(deepflatten(deep_li))
print("list deep_li after flattening", flat_li)

list li before flattening [[100, 150], [[200]], [300, 400]]
list li after flattening [100, 150, 200, 300, 400]


list deep_li before flattening [[0, 1], [[2, [3, [4, [5, [6]]]]]], [7, 8]]
list deep_li after flattening [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
#Using List Comprehension 

nested = [[1,2,3], ['a','b','def'], [5, 10,'f',17], [3,9] ] 

flt = [ j for i in nested for j in i ]
flt

[1, 2, 3, 'a', 'b', 'def', 5, 10, 'f', 17, 3, 9]

In [30]:
#Good Approach

def flatten(input_list):
    result = []
 
    stack = [input_list]
 
    while stack:
        current = stack.pop(-1)
        if isinstance(current, list):
            stack.extend(current)
        else:
            result.append(current)
            
    result.reverse()
    return result

In [45]:
l = [1, 2, [3, 4, [5, 6], 7],
     [[[8, 9], 10]],
     [11, [12, 13]]]

#output list
ans = flatten(l)
print(ans)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [39]:
#Using Recursion

def flatten2(list_of_lists):
    if len(list_of_lists) == 0:
        return list_of_lists
    
    if isinstance(list_of_lists[0], list):
        return flatten2(list_of_lists[0]) + flatten2(list_of_lists[1:])
    return list_of_lists[:1] + flatten2(list_of_lists[1:])


print(flatten2([[1, 2, 3, 4], [5, 6, 7], [8, 9], 10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
print(flatten2(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

## Python Program to Find the Total Sum of a Nested List Using Recursion

In [59]:
def nested_sum(lst):
    
    total=0
    
    for i in lst:
        if type(i)==list:
            total +=nested_sum(i)
        else:
            total +=i
    return total

In [60]:
find_sum([[4,5],[7,8,[20]],100])

144

## Python Program to Flatten a Nested List using Recursion

In [65]:
def flatten_rec(lst):
    if len(lst)==0:
        return lst
    if isinstance(lst[0],list):
        return flatten_rec(lst[0]) + flatten_rec(lst[1:])
    return lst[:1] + flatten_rec(lst[1:])

In [66]:
flatten_rec([[4,5],[7,8,[20]],100])

[4, 5, 7, 8, 20, 100]

In [67]:
x=[1, 2, [3, 4, [5, 6], 7],
     [[[8, 9], 10]],
     [11, [12, 13]]]
flatten_rec(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]