## 1. Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [4]:
#Using List Comprehension

l = [(i,i**2) for i in range(5)]
l

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [12]:
# Using map() and lambda function

res= list(map(lambda x:(x,x**2), [i for i in range(6)]))

In [13]:
res

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

## 2. Python Program to Remove All Tuples in a List Outside the Given Range

In [14]:
ini_tuple = [('b', 100), ('c', 200), ('c', 45),
             ('d', 876), ('e', 75)]
 
result = [ i for i in ini_tuple if i[1]<100 ]
result

[('c', 45), ('e', 75)]

In [16]:
y = list(filter(lambda x:x[1]<100,ini_tuple))
y

[('c', 45), ('e', 75)]

In [17]:
#Input:
#[(32, 5), (None, None), (None, 6), (6, None), (None, None)]

#Output:
#[(32, 5), (None, 6), (6, None)]

In [29]:
x =[(32, 5), (None, None), (None, 6), (6, None), (None, None)]
y = [ i for i in x if not all(vals==None for vals in i)]
y

[(32, 5), (None, 6), (6, None)]

In [32]:
y=[('a','12CS039'),('b','12CS320'),('c','12CS055'),('d','12CS100')]
low=int(input("Enter lower roll number (starting with 12CS):"))
up=int(input("Enter upper roll number (starting with 12CS):"))
l='12CS0'+str(low)
u='12CS'+str(up)
p=[x for x in y if x[1]>l and x[1]<u]
print(p)

Enter lower roll number (starting with 12CS):50
Enter upper roll number (starting with 12CS):100
[('c', '12CS055')]

## 3. Python Program to Sort a List of Tuples in Increasing Order by the Last Element in Each Tuple

Input: [(1, 3), (3, 2), (2, 1)]
Output: [(2, 1), (3, 2), (1, 3)]

In [34]:
ip= [(1, 3), (3, 2), (2, 1)] 

ip.sort(key=lambda x:x[-1])
ip

[(2, 1), (3, 2), (1, 3)]

In [42]:
def sort_tup(ip):
    n=len(ip)
    for i in range(0,n):
        for j in range(0,n-i-1):
            if (ip[j][-1]>ip[j+1][-1]):
                ip[j],ip[j+1]=ip[j+1],ip[j]
    return(ip)

In [43]:
sort_tup(ip)

[(2, 1), (3, 2), (1, 3)]

In [44]:
upList = [("python", 7), ("learn" , 1), ("programming", 7), ("code" , 3)]
sort_tup(upList)

[('learn', 1), ('code', 3), ('python', 7), ('programming', 7)]

In [45]:
sample = [('f', 90), ('g', 84), ('d', 92), ('a', 96)]
sample.sort(key = lambda i:i[1], reverse = True)
print(sample)
 
# Output : [('a', 96), ('d', 92), ('f', 90), ('g', 84)]

[('a', 96), ('d', 92), ('f', 90), ('g', 84)]